{% extends 'base.html' %}

{% block title %}
Sys_Inventory - Tipos de Licença
{% endblock %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/styles_apps/styles_apps_list.css' %}">

<div class="container-fluid mt-3">

    <div class="table-responsive">
        <div class="input-group border-bottom">
            <h3 class="display-7">Lista de Tipos de Licenças</h3>
        </div>
    
        <div class="input-group d-flex mb-3 mt-3">
            <div class="col-md-4">
                <form method="get" action="{%url 'licenses_type_list'%}">
                    <div class="input-group text-white">
                        <input type="text" class="form-control" name="search" placeholder="Buscar licença..." value="{{ request.GET.name }}">
                        <button class="btn btn-primary color" type="submit">Buscar</button>
                    </div>
                </form>
            </div>
    
            <div class="ms-auto">
                <a href="{%url 'licenses_type_create'%}" class="btn btn-success ">
                    <i class="bi bi-plus"></i> Adicionar Tipo de licença
                </a>
            </div>
        </div>

        <table class="table table-striped">
            <thead class="align-middle">
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for license_type in licenses_type %}
                    <tr>
                        <td>{{ license_type.name }}</td>
                        <td>{{ license_type.description }}</td>
                        <td>

                            <a href="{% url 'licenses_type_update' license_type.id %}" class="btn btn-warning btn-sm">
                                <i class="bi bi-pencil-square"></i>
                            </a>

                            <a href="{% url 'licenses_type_delete' license_type.id %}" class="btn btn-danger btn-sm">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
    
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% include 'components/_pagination.html' %}

{% endblock %}
