{% extends 'base.html' %}

{% block title %}
Sys_Inventory - Colaboradores
{% endblock %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/styles_apps/styles_apps_list.css' %}">

<div class="container-fluid mt-3">

    <div class="table-responsive">
        <div class="input-group border-bottom">
            <h3 class="display-7">Lista de Colaboradores</h3>

            <div class="ms-auto">
                <button class="btn btn-secondary me-md-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasImport" aria-controls="offcanvasImport"><i class="bi bi-download"></i> Importar</button>
                <div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasImport" aria-labelledby="offcanvasRightLabel">

                    <div class="offcanvas-header">
                      <h5 class="offcanvas-title" id="offcanvasRightLabel">Importar</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>

                    <div class="offcanvas-body">
                        <div class="card">
                            <div class="card-header">
                                <h4>Guia de Importação de Dados</h4>
                            </div>
                            <div class="card-body">
                                <p>Para garantir que os dados sejam importados corretamente, siga as instruções abaixo:</p>
                                
                                <h5>1. Formato do Arquivo</h5>
                                <p>Você pode importar arquivos nos formatos <strong>CSV</strong> ou <strong>XLSX</strong>.</p>
                                <p>Certifique-se de que o arquivo contenha os cabeçalhos corretos. Veja abaixo os campos esperados:</p>
                                
                                <ul>
                                    <li><strong>nome</strong> - Nome do colaborador</li>
                                    <li><strong>email</strong> - Email do colaborador (deve ser único)</li>
                                    <li><strong>setor</strong> - Setor ao qual o colaborador está vinculado</li>
                                    <li><strong>descricao</strong> - Descrição do colaborador (opcional)</li>
                                </ul>
                        
                                <h5>2. Regras para Preenchimento</h5>
                                <ul>
                                    <li>O campo <strong>email</strong> deve ser único. Não utilize emails duplicados.</li>
                                    <li>O campo <strong>nome</strong> deve ser preenchido obrigatoriamente.</li>
                                    <li>O campo <strong>setor</strong> deve corresponder a um setor válido do sistema. Utilize os setores cadastrados.</li>
                                    <li>O campo <strong>descricao</strong> é opcional.</li>
                                </ul>
                            </div>
                        </div>

                        <form method="post" enctype="multipart/form-data" action="{%url 'collaborators_import'%}">
                            {% csrf_token %}
                            <label class="form-label mt-2 mb-1" for="customFile">Buscar arquivo</label>
                            <input type="file" class="form-control" id="customFile" name="importData" />
                            <p class="mt-3 mb-1">Informe o formato do arquivo</p>
                            <select name="file-format" class="form-control mb-3 mt-1">
                                <option selected>Escolha um formato...</option>
                                <option>CSV</option>
                                <option>XLSX</option>
                            </select>
                            <button class="btn btn-primary" type="submit">Importar</button>
                          </form>
                    </div>
                </div>

                <button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExport" aria-controls="offcanvasExport"><i class="bi bi-upload"></i> Exportar</button>
                <div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasExport" aria-labelledby="offcanvasRightLabel">

                    <div class="offcanvas-header">
                      <h5 class="offcanvas-title" id="offcanvasRightLabel">Exportar</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>

                    <div class="offcanvas-body">
                        <form method="post" enctype="multipart/form-data" action="{% url 'collaborators_export' %}">
                            {% csrf_token %}
                            <p class="mb-1">Filtrar</p>
                            <div class="input-group mb-3">
                                <select class="form-select" name="sector">
                                    <option value="" {% if not request.GET.sector %} selected {% endif %}>Setores</option>
                                    {% for sector in sectors %}
                                        <option value="{{ sector.id }}" {% if request.GET.sector == sector.id|stringformat:'s' %} selected {% endif %}>{{ sector.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <p class="mb-1">Escolha o formato do arquivo.</p>
                            <select name="file-format" class="form-control mb-3 mt-1">
                                <option selected>Escolher formato...</option>
                                <option>CSV</option>
                                <option>XLSX (Excel)</option>
                              </select>
                            <button class="btn btn-primary" type="submit">Exportar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="input-group d-flex mb-3 mt-3">
            <div class="col-md-4">
                <form method="get" action="{%url 'collaborators_list'%}">
                    <div class="input-group text-white">
                        <input type="text" class="form-control" name="search" placeholder="Busque pelo Nome ou E-mail" value="{{ request.GET.name }}">
                        <button class="btn btn-primary color" type="submit">Buscar</button>
                    </div>
                </form>
            </div>
    
            <div class="ms-auto">
                <a href="{%url 'collaborators_create'%}" class="btn btn-success ">
                    <i class="bi bi-plus"></i> Adicionar Colaborador
                </a>
            </div>
        </div>

        <div class="espaco-baixo">
            <form method="get" action="{% url 'collaborators_list' %}">
                <div class="input-group w-25">
                    <select class="form-select" name="sector">
                        <option value="" {% if not request.GET.sector %} selected {% endif %}>Setores</option>
                        {% for sector in sectors %}
                            <option value="{{ sector.id }}" {% if request.GET.sector == sector.id|stringformat:'s' %} selected {% endif %}>{{ sector.name }}</option>
                        {% endfor %}
                    </select>

                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-filter"></i> Filtrar
                    </button>
                </div>
            </form>
        </div>

        <table class="table table-striped">
            <thead class="align-middle">
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Setor</th>
                    <th>Computador</th>
                    <th>Telefone</th>
                    <th>Linha Telefônica</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for collaborator in collaborators %}
                    <tr>
                        <td>{{ collaborator.name }}</td>
                        <td>{{ collaborator.email }}</td>
                        <td>{{ collaborator.sector }}</td>
                        {% if collaborator.computer is None %}
                            <td>Não possui computador</td>
                        {% else %}
                            <td>{{ collaborator.computer }}</td>
                        {% endif %}

                        {% if collaborator.phone is None %}
                            <td>Não possui telefone</td>
                        {% else %}
                            <td>{{ collaborator.phone }}</td>
                        {% endif %}
                        
                        {% if collaborator.phone_number is None %}
                            <td>Não possui linha telefônica</td>
                        {% else %}
                            <td>{{ collaborator.phone_number }}</td>
                        {% endif %}
                        <td>
                            <a href="{% url 'collaborators_detail' collaborator.id %}" class="btn btn-info btn-sm">
                                <i class="bi bi-eye"></i>
                            </a>

                            <a href="{% url 'collaborators_update' collaborator.id %}" class="btn btn-warning btn-sm">
                                <i class="bi bi-pencil-square"></i>
                            </a>

                            <a href="{% url 'collaborators_delete' collaborator.id %}" class="btn btn-danger btn-sm">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
    
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% include 'components/_pagination.html' %}

{% endblock %}
