{% extends 'base.html' %}

{% block title %}
Sys_Inventory - Computadores
{% endblock %}

{% load static %}
{% load computer_filter %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/styles_apps/styles_apps_detail.css' %}">

<div class="container-fluid mt-3">
    <div class="input-group border-bottom">
        <h3 class="display-7">Detalhes do Computador</h3>

        <div class="ms-auto">
            <a href="{% url 'computers_qr_code' object.id %}" class="btn btn-secondary">
                <i class="bi bi-qr-code"></i> QRCode
            </a>
        </div>
    </div>

    <div class="row d-flex justify-content-center mt-4">
        <div class="col-sm-4">
            <div class="card bg-dark shadow-detail text-light">
                <div class="card-header fs-4 fw-semibold border-bottom border-black">
                    Informações do computador
                </div>
                <div class="card-body">

                    <div class="row mb-2">
                        <div class="col">
                            <label class="form-label mb-0"><strong>Nome:</strong></label>
                            <input class="form-control bg-dark text-light" type="text" value="{{ object.name }}" disabled readonly>
                        </div>
    
                        <div class="col">
                            <label class="form-label mb-0"><strong>Modelo:</strong></label>
                            <input class="form-control bg-dark text-light" type="text" value="{{ object.model }}" disabled readonly>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label class="form-label mb-0"><strong>Número de série:</strong></label>
                        <input class="form-control bg-dark text-light" type="text" value="{{ object.serie_number }}" disabled readonly>
                    </div>

                    <div class="row mb-2">
                        <div class="col">
                            <label class="form-label mb-0"><strong>Fabricante:</strong></label>
                            <input class="form-control bg-dark text-light" type="text" value="{{ object.brand }}" disabled readonly>
                        </div>
                        <div class="col">
                            <label class="form-label mb-0"><strong>Categoria:</strong></label>
                            <input class="form-control bg-dark text-light" type="text" value="{{ object.category }}" disabled readonly>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label class="form-label mb-0"><strong>Processador:</strong></label>
                        <input class="form-control bg-dark text-light" type="text" value="{{ object.cpu }}" disabled readonly>
                    </div>

                    <div class="row mb-2">
                        <div class="col">
                            <label class="form-label mb-0"><strong>Memória RAM:</strong></label>
                            <input class="form-control bg-dark text-light" type="text" value="{{ object.memory_ram }}" disabled readonly>
                        </div>
    
                        <div class="col">
                            <label class="form-label mb-0"><strong>Armazenamento:</strong></label>
                            <input class="form-control bg-dark text-light" type="text" value="{{ object.storage }}" disabled readonly>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label class="form-label mb-0"><strong>Valor:</strong></label>
                        <input class="form-control bg-dark text-light" type="text" value="{{ object.value|format_money }}" disabled readonly>
                    </div>
                    <div class="mb-2">
                        <label class="form-label mb-0"><strong>Observação:</strong></label>
                        <input class="form-control bg-dark text-light" type="text" value="{{ object.description }}" disabled readonly>
                    </div>
                </div>
            </div>

            <div class="mt-3">
                <div class="card bg-dark shadow-detail text-light">
                    <div class="card-header fs-4 fw-semibold border-bottom border-black">
                        Usuário vinculado
                    </div>
                    <div class="card-body">
                        {% if computer.collaborator_computer%}
                            <div class="mb-2">
                                <label class="form-label mb-0"><strong>Nome:</strong></label>
                                <input class="form-control bg-dark text-light" type="text" value="{{ computer.collaborator_computer.name }}" disabled readonly>
                            </div>
                            <div class="mb-2">
                                <label class="form-label mb-0"><strong>E-mail:</strong></label>
                                <input class="form-control bg-dark text-light" type="text" value="{{ computer.collaborator_computer.email }}" disabled readonly>
                            </div>
                            <div class="mb-2">
                                <label class="form-label mb-0"><strong>Setor:</strong></label>
                                <input class="form-control bg-dark text-light" type="text" value="{{ computer.collaborator_computer.sector }}" disabled readonly>
                            </div>
                        {% else %}
                            <div class="mb-2">
                                <label class="form-label mb-0"><strong>Em Estoque:</strong></label>
                                <input class="form-control bg-dark text-light" type="text" value="Não possui colaborador vinculado." disabled readonly>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="card bg-dark shadow-detail text-light">
                <div class="card-header fs-4 fw-semibold border-bottom border-black">
                    Histórico do Computador
                </div>
                <div class="card-body">
                    <table class="table table-striped text-light table-dark">
                        <thead>
                            <tr>
                                <th>Ação</th>
                                <th>Usuário</th>
                                <th>Data/Hora</th>
                                <th>Alterações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for log in logs %}
                            <tr>
                                <td>
                                    {% if log.action == 0 %} Criação 
                                    {% elif log.action == 1 %} Atualização 
                                    {% elif log.action == 2 %} Exclusão 
                                    {% endif %}
                                </td>
                                <td>{{ log.actor }}</td>
                                <td>{{ log.timestamp }}</td>
                                <td>
                                    {% if log.action == 1 %}
                                        {% for key, value in log.changes_display_dict.items %}
                                            Campo: <strong>{{ key|filter_name }}</strong> <br>
                                            Alteração: 
                                            {% if value.0 == 'None' %}
                                                <strong>Não Vinculado</strong>
                                            {% elif key == 'value' %}
                                                <strong>{{ value.0|format_money }}</strong>
                                            {% else %}
                                                <strong>{{ value.0 }}</strong>
                                            {% endif %}
                                            <i class="bi bi-forward-fill"></i>
                                            {% if value.1 == 'None' %}
                                                <strong>Não Vinculado</strong>
                                            {% elif key == 'value' %}
                                                <strong>{{ value.1|format_money }}</strong>
                                            {% else %}
                                                <strong>{{ value.1 }}</strong>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        Cadastro do computador
                                    {% endif %}
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4">Nenhuma ação registrada.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="d-flex justify-content-center mt-5 mb-1">
        <a href="{%url 'computers_list'%}" class="btn btn-dark ">Voltar para a Lista de Computadores</a>
    </div>
    

</div>

{% endblock %}