{% extends 'base.html' %}

{% block title %}
Sys_Inventory - Impressoras
{% endblock %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/styles_apps/styles_apps_delete.css' %}">

<div class="container-fluid mt-4">
    <div class="border-bottom">
        <h3 class="display-7">Excluir Impressora</h3>
    </div>


    <div class="d-flex justify-content-center top">
        <div class="card border-danger text-center w-75 centralize shadow">
            <div class="card-header border-danger bg-danger-white">
                <h3 class="text-white fw-semibold">Atenção!</h3>
            </div>
            <div class="card-body">
                <p class="card-text fs-5"> Tem certeza que deseja exluir a impressora <strong>{{ object.name }}</strong>, com número de série: <strong>{{ object.serie_number }}</strong>?</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </div>
            <div class="card-footer border-danger bg-danger-white">
                <p class="text-white fw-semibold">Ao excluir a impressora, seus dados não poderão ser recuperados.</p>
            </div>
        </div> 
    </div>


    <div class="d-flex justify-content-center mt-5 mb-1">
        <a href="{%url 'computers_list'%}" class="btn btn-dark ">Voltar para a Lista de Computadores</a>
    </div>
</div>

{% endblock %}