.baixo-div{
    padding-top: 15px;
}

.card{
    border: none !important;
}

.form-label{
    margin-bottom: 0 !important;
}

.form-control{
    border-color: darkgray !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem darkgray !important;
}

.form-select{
    border-color: darkgray !important;
}

.form-select:focus{
    box-shadow: 0 0 0 0.2rem darkgray !important;
}

.sombra{
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
}

.cima{
    padding-top: 50px;
}